.nav7984{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    h1{
        font-size: 20px;
        font-weight: 700;
        color: #495057;
    }
    button{
        background-color: black;
        color: #fff;
        border: none;
        border:  1px solid rgb(92, 92, 92);
        padding: 10px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .3s;
        display: flex;
        align-items: center;
        .logo{
            margin-right: 5px;
            font-size: 20px;
            color: #ffffff !important;
        }
        &:hover{
            background-color:rgba(0, 0, 0, 0.767)
        }
        &:focus{
            outline: none;
        }
    }
}
.ItemCour{
    width: 350px;
    height: 250px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
        scale: 1.01;

    }
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .main5488{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1em;
        margin: 0;
        h4{
            font-size: 1em;
            color: #495057;
            font-weight: 700;
        }   
        button{
            width: 50px;
            height: 30px;
            background-color: black;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s;
            margin-left: 4em;
            &:hover{
                background-color:rgba(0, 0, 0, 0.767)
            }
            &:focus{
                outline: none;
            }
        }     
    }
}
/*/////////////////AddTraining4787///////////////////////*/
.AddTraining4787{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    overflow: hidden;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    .AddTraining{
        position: absolute;
        padding: 1em;
        top: 50%;
        width: 50%;
        height: auto;
        margin: 1em;
        transform: translateY(-50%);
        background-color: white;
        border-radius: 1em;
        .header78787{
            padding: 1em 0.5em;
            display: flex;
            justify-content: space-between;
            .uiiuhiu{
                padding: 0.5em;
                font-size: 1em;
                cursor: pointer;
                border-radius: 50%;
                &:hover{
                    scale: 1.1;
                    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
                    transition: all .3s;
                }
            }
        }
        .bady7898{
            
            padding: 1em;
            .input{
                width: 100%;
                margin: 0.6em 0;
            }
            p {
                font-size: 1em;
                font-weight: 700;
                color: #495057;
            }
            .btn{
                background-color: rgb(255, 251, 0);
                color: #000;
                border: none;
                border:  1px solid rgb(24, 24, 24);
                padding: 1em 2em;
                cursor: pointer;
                border-radius: 0.5em;
                font-size: 700;
                &:hover{
                    scale: 1.01;
                    background-color:rgba(255, 251, 0, 0.767)
                }
            }
        }
    }


    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .col{
        display: flex;
        flex-direction: column;
        width: 48%;
    }

    @media only screen and (max-width: 600px) {
        .AddTraining{
            width: 90%;
            overflow: hidden;
            overflow-y: scroll;
        }
        .row{
            flex-direction: column;
            width: 100%;
        }
        .col{
            width: 100%;
        }
    }
}
/*/////////////////////////////////// ParticipantList*/
.logo8455565654645{
    border-radius: 4px;
    padding: 0.5em;
    font-size: 1.7em;
    aspect-ratio: 1/1; 
    border: none;
    cursor: pointer;
}
.red{
    color:  rgb(223, 64, 64);
    background-color:transparent;
    &:hover{
        color: rgb(97, 30, 30);
        transition: all 0.5s;
    }
}
.green{
    color:  rgb(60, 216, 60);;
    background-color:transparent;
    &:hover{
        color: rgb(0, 128, 0);
        transition: all 0.5s;
    }
}
.MuiButtonBase-root{
    color: darkgray !important;
}
/*/////////////////////////////////// CardItems /////////////*/
.CardItems878754{
    width: 100%;
    margin: 0 0.5em;
   .header98498{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    h1{
        font-size: 1em;
        font-weight: 700;
        color: #495057;
    }
    .btn{
        background-color: transparent;
        color: #201f1f;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        overflow: hidden;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;


        &:hover{
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
            transition: all .3s;
            .logo{
                font-size: 2em;
            }
        }
        .logo{
            font-size: 1.5em;
        }
    }
   }
}
/*/////delete-items9898498///////*/
.delete-items-backdrop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    .delete-items9898498{
        background-color: white;
        border-radius: 1em;
        padding: 1em;
        .delete-items-header{
            display: flex;
            justify-content: space-between;
            padding: 1em;
            border-bottom: 1px solid #e9ecef;
            margin-bottom: 1em;
            h2{
                font-size: 1.5em;
                font-weight: 700;
                color: #495057;
                margin-right: 2em;
            }
            .close{
                font-size: 1.5em;
                color: #495057;
                cursor: pointer;
                &:hover{
                    scale: 1.1;
                    transition: all .3s;
                }
            }
        }
        .delete-items-body{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 1em;
            .delete{
                background-color: rgb(255, 0, 0);
                color: #fff;
                border: none;
                padding: 1em 2em;
                cursor: pointer;
                border-radius: 0.5em;
                font-size: 700;
                margin-right:1em;
                &:hover{
                    scale: 1.01;
                    background-color:rgba(255, 0, 0, 0.767)
                }

            }
            .cancel{
                background-color: transparent;
                color: #000;
                border: none;
                padding: 1em 2em;
                cursor: pointer;
                border-radius: 0.5em;
                font-size: 700;
                &:hover{
                    scale: 1.01;
                    background-color:rgba(0, 0, 0, 0.5)
                }
            }
        }
        
    }
}